# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
venv/
.venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# Envs
.env
.env.*

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# pytest / coverage
.pytest_cache/
.coverage
coverage.xml
